<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Kami v0.0.2</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="./../css/kami.css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="#" id="new"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> New</a></li>
					<li><a href="#" id="open"><span class="glyphicon glyphicon-open" aria-hidden="true"></span> Open</a></li>
					<li><a href="#" id="save"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</a></li>
				</ul>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row body" id="kami-editor">
				<div class="col-xs-6" id="editor">
					<textarea v-model="input" id="editor-textarea"></textarea>
				</div>

				<div class="col-xs-6" id="preview" v-html="input | marked"></div>
			</div>
		</div>

		<script src="./../../app/kami.js"></script>
	</body>
</html>
